@import '../../assets/styles/user/helpers/variable';

$menu_line_width_hover:35%;
$menu_line_height_hover:2px;
$color_hover_line: $color_white;
$distance_menu_logo:10px;
$fontsize_name_company: 21px;


a{
    color:$color_white;
    &:hover{
        color: $color_white;
    }
}

#collapsibleNavbar{
    width:100%;
}

.myMenu{
    li{
        display: inline-block;
    }
}

// menu
.link{
    span{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            bottom: -10px;
            height: 0;
            width: 0;
            transition: all 0.2s ease-in-out;  
        }
    }
    &:hover{
        span{
            cursor: pointer;
        }
        span::before{
            width: $menu_line_width_hover;
            height: $menu_line_height_hover;
            background: $color_hover_line
        }
    }
}

.navbar-nav{
   margin-top: 32px;
}

.navbar-left{
    margin-right: $distance_menu_logo;
    a{
        margin-right: 33px;
    }
}
.navbar-right{
    margin-left: $distance_menu_logo;
    a{
        margin-left: 33px;
    }
}

.navbar-left,.navbar-right{
    margin-top:31px;
}


// Logo
.logo{
    background: url('../../assets/images/user/logo_icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 74px;
    height: 110px;
}
.myLogo{
    position: relative;
    .name_company{
        position: absolute;
        bottom: -18px;
        left: 50%;
        transform: translateX(-50%);
        font-weight:600; 
        font-size: $fontsize_name_company;
    }
}


@media (max-width:768px){
    .navbar-left,.navbar-right{
        display: none;
    }
}