@import '../../../../assets/styles/user/helpers/variable';

$menu_line_width_hover:35%;
$menu_line_height_hover:2px;
$color_hover_line: $color_white;
$menu_ten_KhoangCach:60px;


a{
    color:$color_white;
    &:hover{
        color: $color_white;
    }
}

.myMenu{
    li{
        display: inline-block;
    }
}

// menu
.link{
    span{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            bottom: -10px;
            height: 0;
            width: 0;
            transition: all 0.2s ease-in-out;  
        }
    }
    &:hover{
        span{
            cursor: pointer;
        }
        span::before{
            width: $menu_line_width_hover;
            height: $menu_line_height_hover;
            background: $color_hover_line
        }
    }
}

.navbar-nav{
   margin-top: 32px;
}
.navbar-left{
    margin-right: $menu_ten_KhoangCach;
    a{
        margin-right: 33px;
    }
}
.navbar-right{
    margin-left: $menu_ten_KhoangCach;
    a{
        margin-left: 33px;
    }
}
