@import '../../../../assets/styles/user/helpers/variable';

$fontsize_name_company: 21px;
$menu_ten_KhoangCach:60px;


.container{
    position: relative;
}
a:hover{
    cursor: pointer;
    text-decoration: none;
}

#myNavbar{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    color: $color_white;
}

// Logo
.logo{
    background: url('../../../../assets/images/user/logo_icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 74px;
    height: 110px;
}
.myLogo{
    position: absolute;
    top: 0;
    width:74px;
    left: 50%;
    transform: translateX(-50%);
    .name_company{
        position: absolute;
        bottom: -18px;
        left: 50%;
        transform: translateX(-50%);
        font-weight:600; 
        font-size: $fontsize_name_company;
    }
}






