$color_main: #1fb7e9;
$color_white: #fff;
$color_silver: #f7f7f7;

//Font Color
$color_font_main: #313d48;
$color_font_second: #c0c0c0;

//Padding
$padding_section: 70px 0;
$padding_div_title: 60px 0 0 0;